.navbar {
  background-color: #2a2929;

  color: #fff;

  padding: 15px 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-menu ul li:last-child {
  margin-right: 0;
}

.navbar-menu ul li a {
  color: #fff;

  text-decoration: none;

  font-weight: bold;
}

.navbar-menu ul li a:hover {
  text-decoration: underline;
}
